<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ra.dissection.protocol.dao.settings.DissectionDiagnoseSourceOptionMapper">

  <resultMap id="dissectionDiagnoseSourceOptionResultMap" type="com.ra.dissection.protocol.domain.settings.DissectionDiagnoseSourceOption">
    <result column="id" property="id"/>
    <result column="dissection_diagnose_source_id" property="dissectionDiagnoseSourceId"/>
    <result column="latin" property="name.latin"/>
    <result column="translated" property="name.translated"/>
    <result column="sort_index" property="sortIndex"/>
  </resultMap>

  <sql id="selectDissectionDiagnoseSourceOptionSql">
    select id, dissection_diagnose_source_id, latin, translated, sort_index from settings_dissection_diagnose_source_option
  </sql>

  <insert id="insertDissectionDiagnoseSourceOption" useGeneratedKeys="true" parameterType="com.ra.dissection.protocol.domain.settings.DissectionDiagnoseSourceOption" keyProperty="id" keyColumn="id">
    insert into settings_dissection_diagnose_source_option (dissection_diagnose_source_id, latin, translated, sort_index) values (#{dissectionDiagnoseSourceId}, #{name.latin}, #{name.translated}, #{sortIndex})
  </insert>

  <update id="updateDissectionDiagnoseSourceOption" parameterType="com.ra.dissection.protocol.domain.settings.DissectionDiagnoseSource">
    update settings_dissection_diagnose_source_option set latin = #{name.latin}, translated = #{name.translated} where id = #{id}
  </update>

  <delete id="deleteDissectionDiagnoseSourceOption" parameterType="long">
    delete from settings_dissection_diagnose_source_option where id = #{id}
  </delete>

  <delete id="deleteDissectionDiagnoseSourceOptionByDissectionDiagnoseSource" parameterType="long">
    delete from settings_dissection_diagnose_source_option where dissection_diagnose_source_id = #{id}
  </delete>

  <select id="selectOption" parameterType="long" resultMap="dissectionDiagnoseSourceOptionResultMap">
    <include refid="selectDissectionDiagnoseSourceOptionSql"/> where id = #{id}
  </select>

  <select id="selectOptionsAvailableForDissectionDiagnoseSource" parameterType="long" resultType="boolean">
    select count(*) > 0 from settings_dissection_diagnose_source_option where dissection_diagnose_source_id = #{id} order by sort_index
  </select>

  <select id="selectOptionsForDissectionDiagnoseSource" parameterType="long" resultMap="dissectionDiagnoseSourceOptionResultMap">
    <include refid="selectDissectionDiagnoseSourceOptionSql"/> where dissection_diagnose_source_id = #{id} order by sort_index
  </select>

  <select id="selectOptionsForDissectionDiagnoseSources" parameterType="java.util.List" resultMap="dissectionDiagnoseSourceOptionResultMap">
    <include refid="selectDissectionDiagnoseSourceOptionSql"/> where dissection_diagnose_source_id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
    order by sort_index
  </select>

  <select id="selectMaximumSortIndex" resultType="java.lang.Integer" parameterType="long">
    select max(sort_index) from settings_dissection_diagnose_source_option where dissection_diagnose_source_id = #{id}
  </select>

  <update id="decrementDissectionDiagnoseSourceOptionSortIndex" parameterType="long">
    update settings_dissection_diagnose_source_option set sort_index = sort_index - 1 where id = #{id}
  </update>
</mapper>